@charset "utf-8";

* {
  /* 항상 맨 위에 넣자!! */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#wrapper {
  width: 100%;
  height: auto;
  background: #000;
}

#header {
  width: 100%;
  height: 210px;
  background: #f3f4f7;
}
#section {
  width: 100%;
  height: 1500px;
  background-color: #f3f4f7;
}
#footer {
  width: 100%;
  height: 350px;
  background-color: #f3f4f7;
}

.inner-content {
  width: 1200px;
  height: 100%;
  margin: 0 auto; /* 중요 가운데 정렬 암기*/
  padding: 10px 0;
}

.inner-top-content {
  width: 100%;
  height: 360px;
}

.left {
  width: 70%;
  height: 100%;
  float: left;
}
.right {
  width: 29%;
  height: 100%;
  float: left;
  margin-left: 1%;
}
.left-box1 {
  width: 100%;
  height: 32%;
  margin-bottom: 1%;
  border: 1px solid #787878;
}
.left-box2 {
  width: 100%;
  height: 10%;
  margin-bottom: 1.2%;
  border: 1px solid #787878;
}
.left-box3 {
  width: 100%;
  height: 53%;
  border: 1px solid #787878;
}

.right-box1 {
  width: 100%;
  height: 32%;
  border: 1px solid #787878;
  margin-bottom: 2.4%;
}
.right-box2 {
  width: 100%;
  height: 31.5%;
  border: 1px solid #787878;
  margin-bottom: 2.5%;
}
.right-box3 {
  width: 100%;
  height: 31.7%;
  border: 1px solid #787878;
}
.inner-center-content {
  width: 100%;
  height: 360px;
}
.left-center {
  width: 70%;
  height: 100%;
  float: left;
}
.right-center {
  width: 29%;
  height: 100%;
  float: left;
  margin-left: 1%;
}
.left-center-box1 {
  width: 100%;
  height: 240%;
  border: 1px solid #787878;
  margin-top: 1.2%;
}
.left-center-box2 {
  width: 100%;
  height: 62%;
  margin-top: 1.8%;
  border: 1px solid #787878;
}
.right-center-box1 {
  width: 100%;
  height: 240%;
  margin-top: 3%;
  border: 1px solid #787878;
}
.right-center-box2 {
  width: 100%;
  height: 62%;
  margin-top: 4%;
  border: 1px solid #787878;
}
.header-box1 {
  width: 100%;
  height: 80%;
  border-bottom: 1px solid #999;
}
.header-box2 {
  width: 100%;
  height: 19%;
  border-bottom: 1px solid #999;
}
.footer-box1 {
  width: 100%;
  height: 20%;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}
.footer-box2 {
  width: 100%;
  height: 30%;
  border-bottom: 1px solid #999;
}
.footer-box3 {
  width: 100%;
  height: 50%;
}
